.cadastro-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--light-grey);
    border-radius: 8px;
    padding: 2rem;
}

.cadastro-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}
