.main-search {
    margin-top: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text{
    font-weight: 600;
    color: var(--secondary-green);

}

.search-bar {
    border-radius: 8px;
    width: 535px;
    height: 60px;
    padding: 20px;
    box-shadow: 0px 0px 6px 0px #00000040 inset;
    margin: 16px 0px;
}

.input-svg-container{
    position: relative;

}

.search-icon{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    fill: #ccc;
}

.search-button {
    margin-top: 27px;
    width: 232px;
    min-width: fit-content;
    height: 44px;
    border-radius: 13px;
    font-size: 20px;
    border: none;
    background-color: var(--primary-green);
    cursor: pointer;
}

.search-button.-more{
    display: flex !important;
    color: var(--secondary-green);
    width: 150px !important;
    height: 47px;
    font-size: 22px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: var(--black);
}

.rifas-section{
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5rem;
    gap: 5rem;
}

.rifa-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #EAEAEA;
    height: 550px;
    width: 360px;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 1px 15px var(--primary-green);
}

.rifa-card:hover{
    transform: scale(1.01);
}

.img-card-rifa{
    width: 90%;
    height: 65%;
    object-fit: cover;
    border: solid 3px var(--primary-green);
}

.rifa-title{
    text-transform: uppercase;
    align-items: center !important;
}

.rifa-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.rifa-encerrada{
    text-transform: uppercase;
    font-weight: bold;
}

