:root {
    --background-color: #dfdddd;
    --primary-green: #1DC886;
    --secondary-green: #0c9e66;
    --success-green: #0faf72;
    --black: #111;
    --white: #fff;
    --light-grey: #bdbdbd;
    --grey: #686868;
    --blue-link: #0075fa;
    --blue-click: #155bac;
}
