.icon-header {
    height: 60px;
}

.navbar.nav {
    padding: 20px;
    background-color: var(--primary-green);
    border-bottom: 1rem solid var(--secondary-green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;

}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar.nav.-login {
    justify-content: center;
}

.navbar-brand-text {
    color: #fff;
    padding-left: 5px;
    font-size: 30px;
    text-shadow: 1px 1px 1px var(--black);
}

.navigation-item {
    text-decoration: none;
    padding: 10px;
    color: var(--white);
    font-weight: 600;
    text-wrap: nowrap;
}


.organiza-logout{
    background-color: var(--secondary-green);
    border-radius: 4px;
}

.navigation-item:hover {
    /* text-decoration: underline; */
    text-decoration: underline;
    transition: ease-in;
}


.login-icon {
    height: 22px;
    fill: var(--white);
}
