*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Roboto', sans-serif !important;
}

html, body{
    background-color: var(--white) !important;
}

.d-flex{
    display: flex;
}

h1{
    font-size: 1.5rem !important;
}

p{
    margin: 0 !important;
}

.rifa-description.-raffle-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 0;
    width: 90%;
    p {
        text-wrap: nowrap;
        margin: 3px;
    }
}

.progress{
    width: 60%;
    margin: 0 5px;
    align-self: center;
    border: solid 0.5px var(--black);
}

.progress::-webkit-progress-bar{
    background-color: var(--white) !important;
}

.progress::-webkit-progress-value{
    background-color: var(--secondary-green) !important;
}

.container-alerta{
    margin-top: 1rem;
    width: fit-content !important;
    justify-self: center !important;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    z-index: 1;
}

.error-message {
    color: var(--red);
    font-size: 0.875rem;
}
